@model PPC_Rental.Models.PROPERTY
@using PPC_Rental.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var db = new DemoPPCRentalEntities1();
    var Quans = new SelectList(db.DISTRICTs, "ID", "DistrictName");
    var Duongs = new SelectList(db.STREETs.Take(0), "ID", "StreetName");



}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "AdminProperty", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()


                <div class="form-horizontal">
        <h4>PROPERTY</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Property Name</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.PropertyName, new { style ="width:500px"})
                    @Html.ValidationMessageFor(model => model.PropertyName)
                   
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Avatar</label>

                <div class="col-sm-9">
                    
                    <img src="@Url.Content(Model.Avatar)" width="300px">
                    <div class="space-4"></div>
                    <input type="file" name="ImageFile">
                    @*@Html.TextBoxFor(model => model.Avatar, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Avatar)*@

                </div>
            </div>

            @*multiple*@
            @*<div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> @Html.LabelFor(model => model.Images) </label>

                <div class="col-sm-9">
                     <input multiple type="file" name="files" value="Browse" />

                    
                    
                </div>
            </div>*@
            
           
            @*<div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> @Html.LabelFor(model => model.Avatar) </label>

                <div class="col-sm-9">
                    <input type="file" name="ImageFile">
                    <img src="/Images/@Model.Images" width="400px" alt="Alternate Text" />
                    @Html.ValidationMessageFor(model => model.Images)

                </div>
            </div>*@


            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Property Type</label>

                <div class="col-sm-9">
                    @Html.DropDownList("PropertyType_ID", new SelectList(ViewBag.property_type, "ID", "CodeType", Model.PROPERTY_TYPE), new { @class = "chosen-select form-control", style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PropertyType_ID)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> @Html.LabelFor(model => model.Content) </label>

                <div class="col-sm-9">
                   @Html.TextAreaFor(model => model.Content,new { style = "width:500px; height:100px" })
                    @Html.ValidationMessageFor(model => model.Content)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">District</label>

                <div class="col-sm-9">
                    
                    @Html.DropDownList("District_ID", new SelectList(ViewBag.property_district, "ID", "DistrictName", Model.DISTRICT), new { @class = "chosen-select form-control", style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.District_ID)
                   

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Ward</label>

                <div class="col-sm-9">
                    @Html.DropDownList("Ward_ID", new SelectList(ViewBag.property_ward, "ID", "WardName", Model.WARD), new { @class = "chosen-select form-control", style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Ward_ID)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Street</label>

                <div class="col-sm-9">
                    @Html.DropDownList("Street_ID", new SelectList(ViewBag.property_street, "ID", "StreetName", Model.STREET).Take(0), new { @class = "chosen-select form-control", style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Street_ID)
                   

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Price</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Price, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Price)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Unit Price</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.UnitPrice, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.UnitPrice)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Area</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Area, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Area)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Bedrooms</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.BedRoom, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.BedRoom)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Bathrooms</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.BathRoom, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.BathRoom)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Parking Place</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.PackingPlace, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PackingPlace)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email</label>

                <div class="col-sm-9">
                    @Html.DropDownList("UserID", new SelectList(ViewBag.property_userid, "ID", "Email", Model.USER), new { @class = "chosen-select form-control", style = "width:250px"})
                    @Html.ValidationMessageFor(model => model.USER)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Created At</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Created_at, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Created_at)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Create Post</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Create_post, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Create_post)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Status</label>

                <div class="col-sm-9">
                  @Html.DropDownList("Status_ID", new SelectList(ViewBag.property_status, "ID", "Status_Name", Model.PROJECT_STATUS), new { @class = "chosen-select form-control", style = "width:250px" })
                @Html.ValidationMessageFor(model => model.PROJECT_STATUS)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Note</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Note, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Note)

                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Update At</label>

                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Updated_at, new { style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Updated_at)

                </div>
            </div>
                     

            <div class="space-4"></div>
                       
            
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Submit
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </div>

            <div class="hr hr-24"></div>
            </form>
           
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@*@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <div>
        First name<br />
        @Html.TextBox("fname") <br />
        Last name<br />
        @Html.TextBox("lname") <br />
        Image<br />
        <input type="file" name="file" id="file" style="width: 100%;" /> <br />
        <input type="submit" value="Upload" class="submit" />
    </div>
}*@
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
    $('#Ditrict_ID').select2();
    $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $.getJSON('/Admin/AdminProperty/GetStreet?did=' + $('#District_ID').val(), function (json) {
            $('#Street_ID').select2({ data: json });
            });

    });
    </script>
}