@model PPC_Rental.Models.PROPERTY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrap properties-page property-single">

    <!-- BREADCRUMBS-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <a href="index-2.html">Home</a>
                    <span class="sep">/</span>
                    <span class="current">Properties List</span>
                </div>
                <h2 class="page-title">@Model.PropertyName</h2>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <div class="container">

        <!-- PROPERTY FILTERS -->
        <div class="row">
         
        </div>
        <!-- PROPERTY FILTERS -->

        <div class="row">
            
            @{if (Model.Images != null)
                {
                    string[] arr = Model.Images.Split(',');

                    <div class="col-md-7 property-slider">
                        <figure id="property-slider">
                            <ul class="slides">
                                <li><img src="~/Images/@Model.Avatar" alt="Image" class="img-responsive"></li>
                                @foreach (var item in arr)
                                {
                                    <li><img src="~/MultipleImages/@item" alt="Image" class="img-responsive"></li>
                                }
                            </ul>
                            <span class="label sale">Sale</span>
                        </figure>
                        <figure id="property-carousel" class="flexslider">
                            <ul class="slides">
                                <li><img src="/Images/@Model.Avatar" alt="Thumbnails" class="img-responsive"></li>
                                @foreach (var item in arr)
                                {
                                    <li><img src="~/MultipleImages/@item" alt="Thumbnails" class="img-responsive"></li>
                                }
                            </ul>
                        </figure>
                    </div>
                }
                else
                {
                    <div class="col-md-7 property-slider">
                        <figure id="property-slider">
                            <ul class="slides">
                                <li><img src="~/Images/@Model.Avatar" alt="Image" class="img-responsive"></li>
                            </ul>
                            <span class="label sale">Sale</span>
                        </figure>
                        <figure id="property-carousel" class="flexslider">
                            <ul class="slides">
                                <li><img src="/Images/@Model.Avatar" alt="Thumbnails" class="img-responsive"></li>
                            </ul>
                        </figure>
                    </div>
                }
            }
            <!-- PROPERTY SLIDER -->
           
            <!-- PROPERTY SLIDER -->
            <!-- PROPERTY DATA -->
            <div class="col-md-5 property-data">
                <div class="prop-features prop-before">
                    <span class="location">@Model.DISTRICT.DistrictName</span>
                    <span class="area">@Model.Area</span>
                </div>
                <div class="prop-price">
                    <strong class="price">$ @Model.Price</strong>
                    
                </div>
                <div class="prop-features">
                    <span class="bed">@Model.BedRoom Bedroom</span>
                    <span class="garage">@Model.PackingPlace Garage</span>
                    <span class="bath">@Model.BathRoom Baths</span>
                    <span class="kitchen">2 Kithen</span>
                    <span class="gym">1 Gym</span>
                </div>
                <ul>
                                        @foreach (var item in Model.PROPERTY_FEATURE)
                                        {
                                            if (item.Property_ID == Model.ID)
                                            {
                                                <li>
                                                    @item.FEATURE.FeatureName</li>
                                             }
                                          }
                                                    @*<li>Garden</li>
                                        <li>Air Condition</li>
                                        <li>CCTV</li>
                                        <li>Security System</li>
                                        <li>Parking</li>
                                        <li>Children Play Ground</li>
                                        <li>Graveyard</li>
                                        <li>Gym</li>
                                        <li>Community Center</li>*@
</ul>
            </div>
            <!-- PROPERTY DATA -->

        </div>

    </div>

    <!-- GALLERY -->
    <div class="full-width gallery">
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item grid-item-half">
                <a href="#"><img src="/Content/Hata/images/g13.jpg" alt=""><div class="overlay"></div></a>
                <a href="#"><img src="/Content/Hata/images/g11.jpg" alt=""><div class="overlay"></div></a>
                <a href="#"><img src="/Content/Hata/images/g12.jpg" alt=""><div class="overlay"></div></a>
            </div>
            <div class="grid-item">
                <a href="#"><img src="/Content/Hata/images/g14.jpg" alt=""><div class="overlay"></div></a>
                <a href="#"><img src="/Content/Hata/images/g15.jpg" alt=""><div class="overlay"></div></a>
            </div>
            <div class="grid-item">
                <a href="#"><img src="/Content/Hata/images/g16.jpg" alt=""><div class="overlay"></div></a>
                <a href="#"><img src="/Content/Hata/images/g17.jpg" alt=""><div class="overlay"></div></a>
            </div>
            <div class="grid-item">
                <a href="#"><img src="/Content/Hata/images/g18.jpg" alt=""><div class="overlay"></div></a>
                <a href="#"><img src="/Content/Hata/images/g19.jpg" alt=""><div class="overlay"></div></a>
            </div>
            <div class="grid-item grid-item-half">
                <a href="#"><img src="/Content/Hata/images/g20.jpg" alt=""><div class="overlay"></div></a>
                <a href="#"><img src="/Content/Hata/images/g13.jpg" alt=""><div class="overlay"></div></a>
            </div>
        </div>
    </div>
    <!-- GALLERY -->
    <!-- BANNER -->
    <div class="full-width personal-agent">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <figure>
                        <img src="/Content/Hata/images/agent-pic.png" alt="Pic" class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-8 col-sm-8">
                    <article>
                        <h2>CONTENT</h2>
                        <p>@Model.Content</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- BANNER -->
    <!-- ITEMS GRID -->

<!-- ITEMS GRID -->
