@{
    ViewBag.Title = "Home Page";
    DemoPPCRentalEntities1 db = new DemoPPCRentalEntities1();
    var Quans = new SelectList(db.DISTRICTs, "ID", "DistrictName");
    var Protyp = new SelectList(db.PROPERTY_TYPE, "ID","CodeType");
}
@model IEnumerable<PPC_Rental.Models.PROPERTY>
    @using PPC_Rental.Models
<!-- SLIDER -->
<div class="flexslider" id="slider">
    <ul class="slides">
        @foreach (var item in Model)
        {
            if (item.ID <= 10)
            {
            <li>
                <img src="/Content/Hata/images/@item.Images" class="img-responsive" alt="Slider Image" />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="detail">
                                <div class="white">
                                    <h2>@item.PropertyName.Substring(0, item.PropertyName.Length - 10)</h2>
                                    <span class="slide-location">@item.WARD.WardName, @item.DISTRICT.DistrictName</span>
                                    <div class="bar"></div>
                                    <span class="slide-price">$ @item.Price</span>
                                </div>
                                <div class="red">
                                    <span class="bath">@item.BathRoom Bathrooms</span>
                                    <span class="bed">@item.BedRoom Bedrooms</span>
                                    <span class="gym">@item.PackingPlace Garage</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            }

        }
    </ul>
</div>
<!-- SLIDER -->
<!-- FILTER -->
<form role="search" action="@Url.Action("Search","Home")" method="get">
    <div class="container">
        <div class="filter">

            @Html.DropDownList("dis", Quans, "Location", new { @class= "location", @id = "dis" })
           @Html.DropDownList("propertytype", Protyp, "Type", new { @class= "cata",@id = "type" })
            <select class="type" name="bed">
                <option>Bedroom</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <select class="type" name="bath">
                <option>Bathroom</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
          

            <button type="submit" class="btn"><i class="fa fa-search"></i>Search</button>

            <div class="range">
                <input type="text" name="name" placeholder="Key Word" class="add" />
                <input type="text" name="name" placeholder="Min. Price"  class="add1" />
                <input type="text" name="name" placeholder="Max. Price" class="add1" />
                
            </div>

        </div>
    </div>
    </form> 
    <!-- FILTER -->
    <!-- ITEMS GRID -->
    <div class="container">
        <div class="row">
            @foreach (var ds in Model)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <div class="item-header clearfix">
                            @if (ds.PropertyName.Length > 30)
                            {
                                <h3><a href="#">@ds.PropertyName.Substring(0, ds.PropertyName.Length - 10)</a></h3>
                            }
                            else
                            {
                                <h3><a href="#">@ds.PropertyName</a></h3>
                            }
                            <span class="favorite"><i class="fa fa-heart"></i>9</span>
                        </div>
                        <figure>
                            <img src="~/Images/@ds.Avatar" alt="" class="img-responsive">
                            <span class="label sale">Sell</span>
                            <div class="overlay">
                                <a href="/Details/Details/@ds.ID" class="btn btn-detail">Detail</a>
                            </div>
                        </figure>
                        <div class="item-detail">
                            <div class="left">
                                <span class="place"><i class="fa fa-map-marker"></i>@ds.DISTRICT.DistrictName</span>
                                <span class="bed">@ds.BedRoom</span>
                                <span class="bath">@ds.BathRoom</span>
                                <span class="garage">@ds.PackingPlace</span>
                            </div>
                            <div class="right">
                                <span class="area">@ds.Area</span>
                                <span class="price">$ @ds.Price</span>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
    <!-- ITEMS GRID -->
    <!-- BANNER -->
    <div class="full-width-white design">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <article>
                        <h2>interior Design as gift</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
                        <button type="button" class="btn btn-danger">learn more</button>
                    </article>
                </div>
                <div class="col-md-7 col-sm-7">
                    <figure>
                        <img src="/Content/Hata/images/gift-design.png" alt="Image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER -->
    <!-- BLOG -->
    <div class="full-width home-posts blog-posts">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="post clearfix">
                        <figure>
                            <a href="#"><img src="/Content/Hata/images/post1.png" alt="" class="img-responsive"></a>
                        </figure>
                        <article>
                            <span class="date">8 June 2015</span>
                            <h3><a href="blog-post.html">It has nice clean design</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus...</p>
                            <a href="#" class="cmmt">28</a>
                        </article>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post clearfix">
                        <figure>
                            <a href="#"><img src="/Content/Hata/images/post2.png" alt="" class="img-responsive"></a>
                        </figure>
                        <article>
                            <span class="date">14 September 2015</span>
                            <h3><a href="blog-post.html">Experienced real estate brokers</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus...</p>
                            <a href="#" class="cmmt">7</a>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- BLOG -->
    <!-- BANNER -->
    <div class="full-width personal-agent">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <figure>
                        <img src="/Content/Hata/images/agent-pic.png" alt="Pic" class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-8 col-sm-8">
                    <article>
                        <span>Lara Loft</span>
                        <h2>Your personal agent</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget<br> dolor. Aenean massa.</p>
                        <button type="button" class="btn btn-danger">Get Agent Help</button>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER -->
    <!-- REVIEWS -->
    <div class="full-width rewiews">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img src="/Content/Hata/images/avatar1.png" alt="Avatar" class="img-responsive">
                    <h6>Jane Ramos</h6>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="/Content/Hata/images/avatar2.png" alt="Avatar" class="img-responsive">
                    <h6>Eva Rodriges</h6>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="/Content/Hata/images/avatar3.png" alt="Avatar" class="img-responsive">
                    <h6>Paul Jones</h6>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- REVIEWS -->
    <!-- CALL2ACTION -->
    <div class="full-width call-action">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>Want to sell you property? contact us now!</h4>
                </div>
                <div class="col-md-3">
                    <a href="contact.html" class="btn btn-danger">Submit Property</a>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL2ACTION -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 1000000,
            values: [30000, 500000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>


 
