@{
    
    DemoPPCRentalEntities1 db = new DemoPPCRentalEntities1();
    var Quans = new SelectList(db.DISTRICTs, "ID", "DistrictName");
    var Protyp = new SelectList(db.PROPERTY_TYPE, "ID", "CodeType");
}
@model IEnumerable<PPC_Rental.Models.PROPERTY>
    @using PPC_Rental.Models

<!-- SLIDER -->
<!-- FILTER -->
<!-- ITEMS GRID -->     
<div class="container">
    <div class="row">
        
        @foreach (var ds in Model)
            {
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        @if (ds.PropertyName.Length > 30)
                        {
                            <h3><a href="#">@ds.PropertyName.Substring(0, ds.PropertyName.Length - 10)</a></h3>
                        }
                        else
                        {
                            <h3><a href="#">@ds.PropertyName</a></h3>
                        }
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="~/Images/@ds.Avatar" alt="" class="img-responsive">
                        <span class="label sale">Sell</span>
                        <div class="overlay">
                            <a href="/Details/Details/@ds.ID" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>@ds.DISTRICT.DistrictName</span>
                            <span class="bed">@ds.BedRoom</span>
                            <span class="bath">@ds.BathRoom</span>
                            <span class="garage">@ds.PackingPlace</span>
                        </div>
                        <div class="right">
                            <span class="area">@ds.Area</span>
                            <span class="price">$ @ds.Price</span>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
<!-- ITEMS GRID -->
<!-- BANNER -->
